<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard</title>
        <link rel="stylesheet" href="./static/output.css" />
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    </head>

    <body class="font-sans">
        <!-- Navigation Bar -->
        <nav class="bg-indigo-800 text-white p-4">
            <div
                class="container w-10/12 mx-auto flex flex-col md:flex-row justify-between items-center">
                <h1 class="text-2xl font-bold">Dashboard</h1>
                <div>
                    <a href="{{ url_for('dashboard') }}" class="mr-4">Dashboard</a>
                    <a href="{{ url_for('create_recipe') }}" class="mr-4">Create Recipe</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
        </nav>

        <!-- Dashboard Content -->
        <section class="container w-9/12 mx-auto mt-8">
            <h2 class="text-3xl mb-4">Welcome, {{ user.username }}!</h2>

            <h3 class="text-2xl mb-2">Your Recipes</h3>
            <ul class="flex gap-4 flex-wrap mt-6">
                {% for recipe in recipes %}
                <li>
                    <a
                        href="{{ url_for('view_recipe', recipe_id=recipe.id) }}"
                        class="bg-gray-200 hover:bg-gray-400 p-3"
                        >{{ recipe.title }}</a
                    >
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}"><i class='bx bxs-edit text-2xl'></i></a>
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" class="hover:text-red-600"><i class='bx bxs-trash text-2xl' ></i></a>
                </li>
                {% endfor %}
            </ul>

            <a
                href="{{ url_for('create_recipe') }}"
                class="inline-block mt-8 bg-indigo-500 text-white font-bold py-2 px-4 rounded-md focus:outline-none hover:bg-indigo-600"
                >Create Recipe</a
            >
        </section>
    </body>
</html>
