<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Delete</title>
        <link rel="stylesheet" href="./static/output.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
            rel="stylesheet" />
    </head>
    <body>
        <section class="container bg-gray-100 flex items-center justify-center h-screen">
            <div class="bg-white p-8 rounded shadow-md max-w-md w-full">
                <h2 class="text-3xl font-bold mb-4">Delete Recipe</h2>
                <p>Are you sure you want to delete the recipe "{{ recipe.title }}"?</p>

                <form method="post" action="{{ url_for('delete_recipe', recipe_id=recipe.id) }}">
                    <button type="submit" class="bg-indigo-500 text-white font-bold py-2 px-4 rounded-md focus:outline-none hover:bg-indigo-600">Delete Recipe</button>
                </form>
                <a href="{{ url_for('dashboard') }}" class="py-4 px-4">Cancel</a>
            </div>
        </section>
    </body>
</html>
