<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Update</title>
        <link rel="stylesheet" href="./static/output.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
            rel="stylesheet" />
    </head>
    <body>
        <section class="container bg-gray-100 flex items-center justify-center h-screen">
            <div class="bg-white p-8 rounded shadow-md max-w-md w-full">
                <h2 class="text-3xl font-bold mb-4">Edit Recipe</h2>
                <form method="post" action="{{ url_for('edit_recipe', recipe_id=recipe.id) }}">
                    <div class="mb-4">
                        <label for="title" class="block text-gray-700 font-semibold mb-2"
                            >Title</label
                        >
                        <input
                            type="text"
                            id="title"
                            name="title"
                            required
                            class="w-full border-gray-300 border-2 rounded-md px-4 py-2 focus:outline-none focus:border-indigo-500" />
                    </div>
                    <div class="mb-4">
                        <label for="ingredients" class="block text-gray-700 font-semibold mb-2"
                            >Ingredients (comma-separated):</label
                        >
                        <textarea
                            id="ingredients"
                            name="ingredients"
                            required
                            class="w-full border-gray-300 border-2 rounded-md px-4 py-2 focus:outline-none focus:border-indigo-500"
                            placeholder="Salt - 2spoon, Maggi - 2cube"
                            ></textarea>
                    </div>
                    <div class="mb-6">
                        <label for="instructions" class="block text-gray-700 font-semibold mb-2"
                            >Instructions:</label
                        >
                        <textarea
                            id="instructions"
                            name="instructions"
                            required
                            class="w-full border-gray-300 border-2 rounded-md px-4 py-2 focus:outline-none focus:border-indigo-500"></textarea>
                    </div>

                    <button type="submit" class="w-full bg-indigo-500 text-white font-bold py-2 px-4 rounded-md focus:outline-none hover:bg-indigo-600">Update Recipe</button>
                </form>
            </div>
        </section>
    </body>
</html>
